<h1 class="display-4 p-2">Cruises</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Id</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Cost</th>
      <th>Ship</th>
      </tr>
  </thead>
  <tbody>
    <% @cruises.each do |c| %>
      <tr>
        <td>
          <%= link_to cruise_path(c), method: :delete do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
        <td><%= link_to c.id, cruise_path(c) %></td>
        <td><%= c.name %></td>
        <td><%= c.duration %></td>
        <td><%= c.base_cost %></td>
        <td><%= c.ship.name %></td>
        </tr>
      <% end %>
  </tbody>
</table>
